<meta data-sly-test.var1="${properties.fbTitle}" property="fbTitle" content="${properties.fbTitle}" />
<meta data-sly-test.var2="${properties.fbDescription}" property="fbDescription" content="${properties.fbDescription}"/>
<meta data-sly-test.var3="${properties.fbImage}" property="fbImage" content="${properties.fbImage}" />
<meta data-sly-test.var4="${properties.fbImageType}" property="fbImageType" content="${properties.fbImageType}" />
<meta data-sly-test.var5="${properties.fbimgwidth}" property="fbImageWidth" content="${properties.fbimgwidth}" />
<meta data-sly-test.var6="${properties.fbimgheight}" property="fbImageHeight" content="${properties.fbimgheight}"/>
<meta data-sly-test.var7="${properties.fbURL}" property="fbUrl" content="${properties.fbURL}"/>
<meta data-sly-test.var8="${properties.fbSitename}" property="fbSiteName" content="${properties.fbSitename}" />
<meta data-sly-test.var9="${properties.fbType}" property="fbType" content="${properties.fbType}" />
<meta data-sly-test.var10="${properties.twTitle}" property="twitterTitle" content="${properties.twTitle}"/>
<meta data-sly-test.var11="${properties.twDescription}" property="twitterDescription" content="${properties.twDescription}" />
<meta data-sly-test.var12="${properties.twImage}" property="twitterImage" content="${properties.twImage}" />
<meta data-sly-test.var13="${properties.twImagetype}" property="twitterImageWidth" content="${properties.twImagetype}" />
<meta data-sly-test.var14="${properties.twimgheight}" property="twitterImageHeight" content="${properties.twimgheight}"  />
<meta data-sly-test.var15="${properties.twCard}" property="twitterCard" content="${properties.twCard}" />
<meta data-sly-test.var16="${properties.twSite}" property="twitterSite" content="${properties.twSite}" />
<meta data-sly-test.var17="${properties.robots}" name="robots" content="${properties.robots}"/>